<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9d06cbe6-45ae-46e3-8e75-0619233f3add" name="http://httpbin.org TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9d06cbe6-45ae-46e3-8e75-0619233f3addfileName">http%3A%2F%2Fhttpbin.org-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
